.chatbox{
  border:2px solid #ccc;
  border:5px 0;
  padding:10px;
  background-color:bisque;
}

.container{
  display: flex;
}

.container.me{
  flex-direction: row-reverse;
}

.me .chatbox{
background-color: cadetblue;
}

.btm{
  position:fixed;
  width:100%;
  bottom:2px;
  
  display:flex;
  flex-direction:row;
}
.btm.input{
  padding:20px 0;
  flex-grow:1;
}
.btm button{
  paddin
}